nav {
    background-color: grey;
    padding: 10px;
}

input {
    padding: 6px;
    margin: auto;
    margin-left: 2%;
    font-size: 17px;
}

button {
    padding: 6px;
    margin: auto;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #ccc;
}